* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*清除浮动*/
.clearfix:before,
.clearfix:after {
	content: " ";
	display: inline-block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	*zoom: 1;
}

a {
  /* color: #ffffff; */
}

/*link表示未被访问时*/
a:link {
  /* color: coral; */
	text-decoration: none;
}

a:hover {
  /* color: rgb(14, 160, 153); */
}

a:active {
  /* color: rgb(10, 204, 75); */
}

/* 
a:visited {
  color: rgb(9, 157, 226);
} */

/* hover表示鼠标指示时 */
/* active表示鼠标点击时 */
/* visited表示被访问过后 */
/**
css 更改鼠标为手状样式
auto                    ：标准光标  
default                 ：标准箭头  
pointer, hand           ：手形光标  
wait                    ：等待光标  
text                    ：I形光标  
vertical-text           ：水平I形光标  
no-drop                 ：不可拖动光标  
not-allowed             ：无效光标  
help                    ：帮助光标  
all-scroll              ：三角方向标  
move                    ：移动标  
crosshair               ：十字标 
 */
a,
i,
span,
button {
	cursor: pointer;
}

ul,
ol,
li {
	list-style: none;
}

img {
  /* height: auto; */
	max-width: 100%;
	vertical-align: middle;
	border: 0;
	border-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 滚动条 */
/* ::-webkit-scrollbar 滚动条整体部分
::-webkit-scrollbar-thumb 滚动条里面的小方块，能向上向下移动（或往左往右移动，取决于是垂直滚动条还是水平滚动条）
::-webkit-scrollbar-track 滚动条的轨道（里面装有Thumb）
::-webkit-scrollbar-button 滚动条的轨道的两端按钮，允许通过点击微调小方块的位置。
::-webkit-scrollbar-track-piece 内层轨道，滚动条中间部分（除去）
::-webkit-scrollbar-corner 边角，即两个滚动条的交汇处
::-webkit-resizer 两个滚动条的交汇处上用于通过拖动调整元素大小的小控件 */


/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}
/* 滚动条的轨道（里面装有Thumb） */
::-webkit-scrollbar-track-piece {
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
/*水平滑块的样式*/
::-webkit-scrollbar-thumb:horizontal {
	width: 5px;
	background-color: #82B1FF;
	border-radius: 6px;
}
 /*垂直滑块的样式*/
::-webkit-scrollbar-thumb:vertical {
	height: 50px;
	border-radius: 4px;
	outline: 2px solid #fff;
	outline-offset: -2px;
	background-color: #0ae;
	/* background-image: linear-gradient(180deg, #FA8BFF 0%, #2BD2FF 52%, #5ce466 90%); */
}
/*滑块的hover样式*/
::-webkit-scrollbar-thumb:hover {
	height: 50px;
	background-color: #82B1FF;
	border-radius: 4px;
}