$white: #ffffff !default;
$clearChll:#1e90ff !default;
$transparent:transparent !default;
.headerdown{
  min-width: 0;
  width: 4.5rem;
  padding: 0;
  text-align: center;
  margin: 0 auto;
}
.dropdown-item{
  padding: 0.2rem;
}
.dropdown-item:hover{
  background: #607d8b;
}
.actives{
  // padding: 0;
  text-align: center;
  background: #808080d1;
}
$servquick:#485563 !default;
.bg-servquick{
  background: #485563; 
  background: -webkit-linear-gradient(to right, #29323c, #485563);  
  background: linear-gradient(to right, #29323c, #485563); 
}